*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

.game-board-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

.game-board-div > div {
  border: 2px solid black;
}

h1 {
  text-align: center;
}

.cell {
  cursor: pointer;
}